#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10
#define U_MS_U &mmv MOVE_UP
#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT
#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  //  600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <900>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <1>;      // 0
            time-to-max-speed-ms = <400>;      // 500
            delay-ms = <0>;                   //   10
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp ESC     &kp N1   &kp N2     &kp N3        &kp N4    &kp N5       &kp UP_ARROW     &kp N6   &kp N7         &kp N8           &kp N9          &kp N0           &kp SQT
&kp TAB     &kp Q    &kp W      &kp E         &kp R     &kp T        &kp DOWN_ARROW   &kp Z    &kp U          &kp I            &kp O           &kp P            &kp KP_PLUS
&hyper      &kp A    &kp S      &kp D         &kp F     &kp G        &kp LEFT_ARROW   &kp H    &kp J          &kp K            &kp L           &sk B            &kp UP_ARROW
&kp LSHFT   &kp Y    &kp X      &kp C         &kp V     &kp B        &kp RIGHT_ARROW  &kp N    &kp M          &kp COMMA        &kp DOT         &kp FSLH         &kp DOWN_ARROW
&kp C_MUTE  &kp F13  &sk LCTRL  &sk LEFT_ALT  &sk LGUI  &kp SPACE    &kp F15          &kp RET  &kp BACKSPACE  &kp RIGHT_SHIFT  &kp LEFT_ARROW  &kp RIGHT_ARROW
            >;

            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
            display-name = "LAYER0";
        };
    };
};
